!amfora/
!bat/
!bpython/
!emacs/
!fish/
!fontconfig/
!fusuma/
!herbstluftwm/
!htop/
!kitty/
!lagrange/
!neofetch/
!nvim/
!picom/
!ppsspp/
!systemd/

!chromium-dev-flags.conf
!pikaur.conf
!starship.toml

