/* MidAutumnMoon's userChrome.css */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* This time, search with peace. */
#urlbar .search-one-offs:not([hidden]) {
  display: none !important;
}

/* Do not display close button. Use middle click instead. */
.tabbrowser-tab .tab-close-button {
  display: none !important;
}

.tabbrowser-tab {
  min-width: initial !important;
}
.tab-content {
  overflow: hidden !important;
}


/*
 * Hide these useless right-click menu item
 */
#context-inspect-a11y {
  display: none !important;
}

#context-navigation {
  display: none !important;
}
#context-sep-navigation {
  display: none !important;
}

#context-sendimage, #context-sendvideo, #context-sendaudio {
  display: none !important;
}

#context-bookmarklink {
  display: none !important;
}

#context-take-screenshot {
  display: none !important;
}
#context-sep-screenshots {
  display: none !important;
}


/*
 * Update available but you will never know
 */
#appMenu-notification-popup { display: none !important; }


/*
 * Smaller tabbar
 */
:root {
  --tab-toolbar-navbar-overlap: 0px !important;
  --tab-min-height: 25px !important;
}

:root #tabbrowser-tab {
  --tab-min-height: 25px !important;
}

#TabsToolbar {
  height: var( --tab-min-height ) !important;
}


/*
 * Force the reader mode button to show
 */
#reader-mode-button {
    display: -moz-box !important;
    visibility: visible !important;
}

