/* MidAutumnMoon's userChrome.css */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* This time, search with peace. */
#urlbar .search-one-offs:not([hidden]) {
  display: none !important;
}

/* Only display close button on hover */
.tabbrowser-tab .tab-close-button {
  display: none !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: inherit !important;
}

.tabbrowser-tab {
  min-width: initial !important;
}
.tab-content {
  overflow: hidden !important;
}

/* Hide these useless right-click menu item */
#context-inspect-a11y { display: none !important; }
#context-navigation { display: none !important; }
#context-sendimage, #context-sendvideo, #context-sendaudio { display: none !important; }
#context-bookmarklink { display: none !important; }
#context-navigation + #context-sep-navigation { display: none !important; }

/* Update available but you will never know */
#appMenu-notification-popup { display: none !important; }
